.pagination__link {
  min-width: 40px;
  padding: 10px 12px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  color: #1f2937;
  background: #ffffff;
}

.pagination__link_active {
  background: #dcdcdc;
  border-color: none;
}